* {
    margin: 0;
  }
  body {
      background-color: rgb(49, 49, 49) !important;
      color: white !important;
  }
  nav{
      width: 100% !important;
  }
  /* #container{
      height: 40vh !important;
  } */
  .fullCast{
      width: 90%;
      margin: 0 1em 0 1em;
  }
  #similarDiv{
      margin-top: 1em;
  }
  #filmsIndex, #seriesIndex{
      margin-top: 3em;
  }
  .details {
    /* overflow-x: scroll;
      overflow-y: hidden; */
    overflow: auto !important;
    /* scrollbar-width: 70%; */
    margin-top: 1em;
    /* width: 90% !important; */
  }
  .details::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    background-color: #aaa; /* or add it to the track */
    border-radius: 10px;
  }
  .details::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }
  #resultMediaIndex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .resultMedia img {
    margin: 0.5em;
    height: 25vh;
    width: 15vh;
    border-radius: 10px;
  }
  #categories-select {
    background-color: #aaa;
    color: red;
    font-weight: bolder;
    border-radius: 5px;
    margin: 1em 1em;
  }
  #favorisIcon {
    color: red;
  }
  #description {
    margin-top: 1em;
    margin-right: 10%;
  }
  .nav-link:hover {
    background-color: lightblue !important;
  }
  .nav-link {
    border-radius: 10px;
  }
  .form-control {
    width: auto !important;
  }
  /* #submitConnexion {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
  #formInscription {
    width: auto !important;
    margin: 2em;
  }
  #inputInscription {
    display: flex;
    justify-content: center;
  }
  #result{
      margin-top: 3em;
      background-color: #aaa;
  }
  #result a{
      text-decoration: none;
      color: whitesmoke;
      border-radius: 5px;
      padding: 5px;
      /* margin-left: 5px; */
  }
  #result a:hover{
  background-color: lightcoral;}
  @media screen and (max-width: 700px) {
  body{
      background-color: red;
  }
  #picture img{
      margin: 1em !important;
      width: 90% !important;
  }
  #description{
      margin-left: 1em;
  }
  #container{
      width: 100% !important;
  }
  .enteteDesc{
      display: flex;
      flex-direction: column;
  }
  }