<div class="" id="container" *ngIf="detailsAll && typeMedia !== 'person'">
  <!-- DETAIL DU MEDIA -->
  <div class="enteteDesc d-flex">
    <div class="resultMedia" id="picture">
      <img [src]="getUrlImage() + detailsAll.poster_path" />
    </div>
    <div id="description">
      <p>Titre original : {{ detailsAll.title || detailsAll.name }}</p>
      <p>Synopsis : {{ detailsAll.overview }}</p>
      <p>
        Date de sortie :
        {{ detailsAll.release_date || detailsAll.first_air_date }}
      </p>
      <p>{{ getMediaInfo() }}</p>
      <p>
        Note : {{ detailsAll.vote_average }}
        <i class="fa-solid fa-star" style="color: #f6e713"></i>
      </p>
    </div>
    <div id="favorisDiv"></div>
  </div>

  <!-- DIRECTOR DU MEDIA -->
  <div class="fullCast">
    <div class="directorDiv detailsMedia" id="directorDiv">
      <h3>Réalisateur :</h3>
      <div class="d-flex" id="director">
        <a
          routerLink="/details/person/{{ crew.id }}"
          *ngFor="let crew of castingListCrew"
          style="text-decoration: none"
        >
          <div
            *ngIf="crew.profile_path && crew.job == 'Director'"
            class="text-center"
          >
            <img
              [src]="getUrlImage() + crew.profile_path"
              alt=""
              style="width: 100px; border-radius: 5px; margin: 5px"
            />
            <p style="color: #fff">{{ crew.name }}</p>
          </div>
        </a>
      </div>
    </div>

    <!-- CASTING DU MEDIA -->
    <div class="castingDIV detailsMedia" id="castingDiv">
      <h3>Casting :</h3>
      <div class="d-flex details overflow-auto" id="casting">
        <a
          routerLink="/details/person/{{ cast.id }}"
          *ngFor="let cast of castingListCast"
          style="text-decoration: none"
        >
          <div *ngIf="cast.profile_path" class="text-center">
            <img
              [src]="getUrlImage() + cast.profile_path"
              alt=""
              style="width: 100px; border-radius: 5px; margin: 5px"
            />
            <p style="color: #fff">{{ cast.name }}</p>
          </div>
        </a>
      </div>
    </div>

    <!-- MEDIA SIMILAIRE-->
    <div class="similarDIV detailsMedia" id="similarDiv">
      <h3>Similaires :</h3>
      <div class="d-flex details overflow-auto" id="similar">
        <a
          routerLink="/details/{{ typeMedia }}/{{ similar.id }}"
          *ngFor="let similar of similarList"
        >
          <img
            *ngIf="similar.poster_path"
            [src]="getUrlImage() + similar.poster_path"
            alt=""
            style="width: 100px; border-radius: 5px; margin: 5px"
          />
        </a>
      </div>
    </div>
  </div>
</div>

<div class="" id="container" *ngIf="detailsAll && typeMedia == 'person'">
  <!-- DETAIL DU MEDIA -->
  <div class="enteteDesc d-flex">
    <div class="resultMedia" id="picture" *ngIf="detailsAll.profile_path">
      <img [src]="getUrlImage() + detailsAll.profile_path" />
    </div>
    <div id="description">
      <p>Name : {{ detailsAll.name }}</p>
      <p>biography : {{ detailsAll.biography }}</p>
      <p>
        Date d'anniversaire :
        {{ detailsAll.birthday }}
      </p>
      <p>place_of_birth : {{ detailsAll.place_of_birth }}</p>
    </div>
    <div id="favorisDiv"></div>
  </div>
</div>
