<div class="" id="container" *ngIf="detailsAll && typeMedia !== 'person'">
  <!-- DETAIL DU MEDIA -->
  <div class="enteteDesc d-flex">
    <div class="resultMedia">
      <img [src]="getUrlImage() + detailsAll.poster_path" class="mainImage" />
    </div>
    <div id="description">
      <h1>{{ detailsAll.title || detailsAll.name }}</h1>
      <p>Synopsis : {{ detailsAll.overview }}</p>
      <p>
        Date de sortie :
        {{ detailsAll.release_date || detailsAll.first_air_date }}
      </p>
      <p>{{ getMediaInfo() }}</p>
      <p>
        Note : {{ getVoteAverageRound(detailsAll.vote_average) }}
        <i class="fa-solid fa-star" style="color: #f6e713"></i>
      </p>
    </div>
    <div id="favorisDiv"></div>
  </div>

  <!-- CREW DU MEDIA -->
  <div class="fullCast">
    <div class="detailsMedia">
      <h3>Crew :</h3>
      <div class="d-flex" id="crew">
        <a routerLink="/details/person/{{ crew.id }}" *ngFor="let crew of castingListCrew">
          <div class="text-center">
            <img *ngIf="crew.profile_path; else defaultImage" [src]=" getUrlImage() + crew.profile_path"
              class="divImage" />
            <p class=" job">{{ crew.name }}</p>
            <p>{{ crew.job }}</p>
          </div>
        </a>
      </div>
    </div>

    <!-- CASTING DU MEDIA -->
    <div class="castingDIV detailsMedia" id="castingDiv">
      <h3>Casting :</h3>
      <div class="d-flex details overflow-auto" id="casting">
        <a routerLink="/details/person/{{ cast.id }}" *ngFor="let cast of castingListCast">
          <div class="text-center">
            <img *ngIf="cast.profile_path; else defaultImage" [src]="getUrlImage() + cast.profile_path"
              class="divImage" />
            <p>{{ cast.name }}</p>
          </div>
        </a>
      </div>
    </div>

    <!-- MEDIA SIMILAIRE-->
    <div class="similarDIV detailsMedia" id="similarDiv">
      <h3>Similaires :</h3>
      <div class="d-flex details overflow-auto" id="similar">
        <a routerLink="/details/{{ typeMedia }}/{{ similar.id }}" *ngFor="let similar of similarList">
          <img *ngIf="similar.poster_path" [src]="getUrlImage() + similar.poster_path" alt="" class="divImage" />
        </a>
      </div>
    </div>
  </div>
</div>

<div class="" id="container" *ngIf="detailsAll && typeMedia == 'person'">
  <!-- DETAIL DU MEDIA -->
  <div class="enteteDesc d-flex">
    <div class="resultMedia">
      <img *ngIf="detailsAll.profile_path; else defaultMainImage" [src]="getUrlImage() + detailsAll.profile_path"
        class="mainImage" />
    </div>
    <div id="description">
      <h1>{{ detailsAll.name }}</h1>
      <p>Biography : {{ detailsAll.biography }}</p>
      <p>
        Date d'anniversaire :
        {{ detailsAll.birthday }}
      </p>
      <p>Lieu de naissance : {{ detailsAll.place_of_birth }}</p>
    </div>
    <div id="favorisDiv"></div>
  </div>
</div>

<ng-template #defaultImage>
  <img src="../../assets/No-Image.webp" alt="" class="divImage" />
</ng-template>

<ng-template #defaultMainImage>
  <img src="../../assets/No-Image.webp" alt="" class="mainImage" />
</ng-template>